doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet",href="/Public/dModules/fragmentScroll/fragmentScroll.css")
        // 제이쿼리 설치
        script(src="https://code.jquery.com/jquery-3.6.3.min.js",
               integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=",
               crossorigin="anonymous")
        title wellcome to do JS sandbox PAGE : Chat Messages Fragment scrolling
    body 
        div(style="display:flex")
            //div(class="container" style="width:70%")
            div(class="container")
                h1(class="header") Chat Messages Container
                ul(class="messages")
                ul
                    li 기본으로 스크롤 뷰를 맨 아래로 보낸다.
                    li container element들의 flex방향을 동적으로 정할 수 있다. "flex-direction: column / column-reverse"
                    li 메세지 앞에 manual anchoring(수동 고정 기능)이 추가 될 때 컨텐츠 점핑 방지
                    li 프리로딩으로 이미지들을 로딩 할 때 컨텐츠 점핑 방지
                    br
                    h3 [함수설명]
                    li 1. getNewMessageNodes : 스크롤 내에서 한 페이지 단위 fragment 생성
                    li 2. getMessagesByLimit : 한 프래그먼트에 들어갈 메시지 데이터 리스트를 가져온다.
                    li 3. createMessageNode  : 하나의 메시지 노드(엘리먼트 생성)

            //div
                h1 code
                h2 js
                div(class="code")
                script(type='text/javascript').
                    $.ajax({
                        url: "http://doiloppa.chickenkiller.com/Public/dModules/fragmentScroll/fragmentScroll.js",
                        method: "GET",
                        dataType: "text",
                        success: function(data) {
                            const code = $(".code")
                            code.text(data);
                        }
                    })
    script(src="/Public/dModules/fragmentScroll/fragmentScroll.js")
