doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title wellcome to do JS sandbox PAGE
    body 
        //script(src="/Public/js/app.js")
        h1 HELL-Oh, WORLD! 🤠
        div
            ul
                h2(style="")  MODULE LIST
                li(style="margin-top:10px;") 
                    button(onClick="location.href='./fragmentScroll.test'") fragmentScroll
                    span(style="margin-left:10px;") : 프래그먼트 단위의 virtucal scroll 로딩 모듈
                li(style="margin-top:10px;") 
                    button(onClick="location.href='./fingerPrint.test'") fingerPrint
                    span(style="margin-left:10px;") : get fingerprinting, bot detection on javascript
                li(style="margin-top:10px;") 
                    button(onClick="location.href='./macroProtect.test'") macroProtect
                    span(style="margin-left:10px;") : 매크로 차단
        //div 
            div(id="chatArea" style="border:solid 1px black; width:1000px; overflow:auto; max-height:300px; height:300px;")
            div(style="display:flex;") 
                input(id="inputBox", style="margin-top:auto;margin-bottom:auto;")
                button(id="sendMsgBtn" , style="margin-left:10px;" , onclick="sendBtn()") send
        
